# Python / Environments
.env
data/ingest/*.db
data/ingest/inbox/**/*.csv
data/ingest/archive/**/*.csv
data/ingest/failed/**/*.csv
.venv/
venv/
env/
__pycache__/
*.pyc
*.pyo

# IDEs / OS
.DS_Store
.idea/
.vscode/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints/

# Node
node_modules/

# Mac / OS
Thumbs.db
